<div class="flex flex-col sm:flex-row gap-4 items-stretch sm:items-center mt-8 mx-6">
  <search-input
    (value)="query.set($event)"
    placeholder="Buscar torneo por nombre"
    class="flex-1"
  />

  <button
    class="btn btn-primary btn-md gap-2 shadow-lg hover:shadow-xl transition-all duration-200"
    routerLink="/tournaments/create"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
    Crear Torneo
  </button>
</div>

<tournament-list
  [tournaments]="tournamentResource.value()?.items ?? []"
  [isLoading]="tournamentResource.status() === 'loading' || tournamentResource.status() === 'reloading'"
  [errorMessage]="tournamentResource.error()?.message"
  (deleteTournament)="deleteTournament($event)"
/>

<app-pagination
  [pages]="tournamentResource.value()?.pagination?.totalPages ?? 0"
  [currentPage]="paginationService.currentPage()"
/>
