<div class="flex flex-col sm:flex-row gap-4 items-stretch sm:items-center mt-2">
  <search-input (value)="query.set($event)" placeholder="Buscar jugador por nombre" class="flex-1" />

  <button [routerLink]="['/players/create']" class="btn btn-primary">
    <plus-icon />
    Agregar Jugador
  </button>
</div>

<player-list
  [players]="playerResource.value()?.items ?? []"
  [isLoading]="playerResource.status() === 'loading' || playerResource.status() === 'reloading'"
  [errorMessage]="playerResource.error()?.message"
  [getGlobalIndex]="getGlobalIndex.bind(this)"
  (deletePlayer)="deletePlayer($event)"
/>

<app-pagination
  [pages]="playerResource.value()?.pagination?.totalPages ?? 0"
  [currentPage]="paginationService.currentPage()"
/>
