<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <svg width="50" height="50" viewBox="0 0 24 24" fill="currentColor" class="fill-current">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10
        10-4.48 10-10S17.52 2 12 2zm2 14.5v-5h-4v5H8v-6.5c0-.83.67-1.5
        1.5-1.5h5c.83 0 1.5.67 1.5 1.5V16.5h-2z"/>
    </svg>
    <p>
      Torneos Pádel Manager<br />
      Controlá tus torneos de forma simple y rápida.
    </p>
  </aside>

  <nav>
    <h6 class="footer-title">Contacto</h6>
    <a class="link link-hover" href="mailto:ezequielasantalla@gmail.com">ezequielasantalla&#64;gmail.com</a>
    <a class="link link-hover" href="https://www.linkedin.com/in/ezequielsantalla" target="_blank">LinkedIn</a>
    <a class="link link-hover" href="https://github.com/ezequiel-santalla" target="_blank">GitHub</a>
  </nav>

  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Términos de uso</a>
    <a class="link link-hover">Política de privacidad</a>
  </nav>
</footer>
