<section class="p-6 bg-base-100 text-base-content">
  <div class="max-w-8xl mx-auto">
    <h2 class="text-3xl font-bold mb-6 text-center">Todos los Torneos</h2>

    <div class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo Torneo</th>
            <th>Categoría</th>
            <th>Género</th>
            <th>Modalidad</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (tournament of tournaments(); track tournament.id; let i = $index) {
            <tr>
              <th>{{ i + 1 }}</th>
              <td>{{ tournament.name }}</td>
              <td>{{ tournament.tournamentType | enumLabel:'tournamentType' }}</td>
              <td>{{ tournament.categoryType | enumLabel:'category' }}</td>
              <td>{{ tournament.genderType | enumLabel:'gender' }}</td>
              <td>{{ tournament.winningMatchRule | enumLabel:'winningMatchRule' }}</td>
              <td>{{ tournament.startDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{ tournament.endDate| date: 'yyyy-MM-dd' }}</td>
              <td>
                <span
                  class="badge"
                  [class.badge-success]="tournament.status.value"
                  [class.badge-neutral]="tournament.status.value">
                  {{ tournament.status | enumLabel:'tournamentStatus' }}
                </span>
              </td>
              <td class="flex gap-2">
                <button [routerLink]="['/tournaments', tournament.id]" class="btn btn-sm btn-info">Ver</button>
                <button [routerLink]="['/tournaments', tournament.id, 'edit']" class="btn btn-sm btn-warning">Editar</button>
                <button
                  class="btn btn-sm btn-error"
                  (click)="onDeleteTournament(tournament.id)"
                  [disabled]="isLoading()">
                  Eliminar
                </button>
              </td>
            </tr>
          } @empty {
            @if (isLoading()) {
              <tr>
                <td colspan="6" class="text-center">
                  <span class="loading loading-spinner loading-lg text-primary">Cargando...</span>
                </td>
              </tr>
            } @else if (errorMessage()) {
              <tr>
                <td colspan="6" class="text-center text-error">
                  Error al cargar los torneos.
                </td>
              </tr>
            } @else {
              <tr>
                <td colspan="6" class="text-center">
                  No se encontraron torneos.
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
